.contacts-page {
    background: $primary;
    color: $white;

    .photo {
        @include center-children;
        background-color: $primary-dark;
        width: 100%;

        img {
            max-height: 250px;
            max-width: 250px;
            border-radius: 50%;
            border: 3px solid $secondary-color;
        }

        @media (max-width: 767px) { 
            & {
                display: none;
            }
        }
    }

    .contact-me {
        @include center-children;
        align-items: start;
        flex-direction: column;
        width: 100%;
        padding-left: 3rem;

        .message {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 2rem;
            

            label {
                color: $secondary-color;
                margin: 2rem 0 1rem;
            }

            input {
                width: 17rem;
                height: 2rem;
                border-radius: 1rem;
                border: 0;
                padding-left: 10px;

                &:focus {
                    outline: 3px solid $secondary-color;
                }
            }

            textarea {
                width: 17rem;
                height: 6rem;
                padding-left: 10px;
                padding-top: 5px;

                &:focus {
                    outline: 2px solid $secondary-color;
                }
            }
        }

        .contacts {
            p {
                margin-bottom: 10px;
                span {
                    font-weight: bold;
                }
            }
        }

        @media (max-width: 767px) { 
            & {
                align-items: center;
                padding: 0 1rem;

                .message {
                    align-items: center;
                }
            }
        }
    }
}