.portfolio-page {
    background-color: $primary;
    color: $white;
    overflow: hidden;

    .content {
        width: 100%;

        .heading {
            margin: 2rem;
        }
        
        .portfolio {
           display: grid;
           //TODO: make it dynamic
           grid-template-columns: repeat(6, 1fr);
           gap: 2rem;
           padding:0 5rem 2rem 2rem;
           height: 100%;
           overflow-x: scroll;
           & scroll-bar {
                display: none;
           }

           @media (max-width: 767px) { 
                & {
                    padding:0 2rem;
                }
            }

           .item {
               position: relative;
               margin-bottom: 10px;
               cursor: pointer;
               width: 250px;
               height: 250px;

               .overlay {
                   position: absolute;
                   top: 0;
                   left: 0;
                   width: 100%;
                   height: 0;
                   background-color: rgba($primary, 0.8);
                   transition: all 0.3s ease-out;
                   cursor: pointer;
                   @include center-children;
                   flex-direction: column;
                   text-align: center;
                   & * {
                       display: none;
                   }
               }

               &:hover .overlay {
                   height: 100%;
                    & * {
                        display: block;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                }
           }
        }

        .scroll-right,
        .scroll-left {
            position: fixed;
            top: 50%;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 2px solid $secondary-color;
            background: $primary-dark;
            color: $secondary-color;
            box-shadow: 7px 7px 10px #313131;            
            cursor: pointer;
            @include center-children;
            font-size: 2rem;
        }

        .scroll-right {
            right: 6rem;

            @media (max-width: 767px) { 
                & {
                    right: 1rem;
                }
            }
        }

        .scroll-left {
            left: 6rem;

            @media (max-width: 767px) { 
                & {
                    left: 1rem;
                }
            }
        }
    }

}