@keyframes widen {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes super-widen {

    100% {
        transform: scale(20);
        opacity: 0;
        background: none;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
        z-index: -1;
    }
}

// @keyframes expand-down {
//     from {
//         height: 0;
//     }

//     to {
//         height: 100%;
//     }
// }

@keyframes enter-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes enter-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes enter-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}